<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>Challenge 4 - Binar Academy</title>
        <meta content="Author" name="Muhammad Nabhan Naufal">
        <meta content="description" name="Challenge Chapter 4 - [FSW] Binar Academy">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="home-container">
            <header>
                <a href="/"><img class="back-button" src="assets/back.png" alt="back-button" ></a>
                <img class="logo" src="assets/logo.png" alt="logo" >
                <h3>ROCK PAPPER SCISSOR</h3>
            </header>

            <div class="game">
                <div class="row">
                    <div class="column-left">
                        <img src="assets/crown.png" alt="" id="crown-player" class="crown-player">
                        <h1><u>Player</u></h1>
                    </div>
                    <div class="column-right">
                        <img src="assets/crown.png" alt="" id="crown-computer" class="crown-computer">
                        <h1><u>Computer</u></h1>
                    </div>
                </div>
                <div class="row">
                    <div class="column-left">
                        <img id="batu" src="assets/batu.png" alt="" class="tangan">
                    </div>
                    <div class="column-right">
                        <img id="batu-comp" src="assets/batu.png" alt="" class="tangan-com">
                    </div>
                </div>
                <div class="row">
                    <div class="column-left">
                        <img id="kertas" src="assets/kertas.png" alt="" class="tangan">
                    </div>
                    <div class="column-mid">
                        <div id="versus-h1" class="result-begin">
                        </div>
                    </div>
                    <div class="column-right">
                        <img id="kertas-comp" src="assets/kertas.png" alt="" class="tangan-com">
                    </div>
                </div>
                <div class="row" style="margin-bottom: 0;">
                    <div class="column-left">
                        <img id="gunting" src="assets/gunting.png" alt="" class="tangan">
                    </div>
                    <div class="column-right">
                        <img id="gunting-comp" src="assets/gunting.png" alt="" class="tangan-com">
                    </div>
                </div>
                <div class="row-2">
                    <img id="reset" src="assets/refresh.png" alt="" class="refresh">
                </div>
                <div class="row border">
                    <div class="column-left">
                        <h3>Player Score: </h3><div id="player_score">0</div>
                    </div>
                    <div class="column-mid">
                        <h3>Draw: </h3><div id="draw_score">0</div>
                    </div>
                    <div class="column-right">
                        <h3>Computer Score: </h3><div id="com_score">0</div>
                    </div>
                </div>
            </div>
        </div>
        <script src="assets/js/main2.js"></script>
    </body>

</html>