<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>Challenge 3 - Binar Academy</title>
        <meta content="Author" name="Muhammad Nabhan Naufal">
        <meta content="description" name="Challenge Chapter 3 - [FSW] Binar Academy">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Satisfy" rel="stylesheet">
        <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
        <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
        <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
        <link href="assets/css/mystyle.css" rel="stylesheet">
    </head>


    <body>
        <header id="header" class="fixed-top  d-flex justify-content-around align-items-center header-transparent">
          <div class="logo">
            <a class="scrollto" href="#home">Logo Game</a>
          </div>
          <nav class="nav-menu d-none d-lg-block" > 
              <ul>
                <li class="active"><a href="#home">HOME</a></li>
                <li><a href="#the-game">WORK</a></li>
                <li><a href="#features">CONTACT</a></li>
                <li><a href="#requirement">ABOUT ME</a></li>
              </ul>
            </nav>
            <nav class="nav-menu d-none d-lg-block" >  
              <ul>
                <li><a href="#topscore">SIGN UP</a></li>
                <li><a href="login">LOGIN</a></li>
              </ul>
            </nav>
            
        </header>
        <!-- ======= Home Section ======= -->
        <section id="home">
            <div class="home-container">
              <h1>PLAY TRADISIONAL GAME</h1>
              <h2>Experience new tradisional game play</h2>
              <a href="chapter-4" class="btn-play scrollto">Play Now</a>
              <h3>THE STORY</h3>
              <a href="#the-game" class="btn-scroll scrollto" title="Scroll Down"><i class="bx bx-chevron-down"></i></a>
            </div>
        </section>
        <main id="main">
          <!-- ======= The Game Section ======= -->
    <section id="the-game" class="the-game">
      <div class="container">
        <h1>What so special's?</h1>
        <h2>THE GAMES</h2>
        <div class='nav-btn prev-slide'></div>
        <div class="owl-carousel testimonials-carousel">
          <div class="the-game-item">
            <img src="assets/img/rockpaperstrategy-1600.jpg" class="the-game-bg-img" alt="">
          </div>

          <div class="the-game-item">
            <img src="assets/img/requirements.png" class="the-game-bg-img" alt="">
          </div>

          <div class="the-game-item">
            <img src="assets/img/main-bg.jpg" class="the-game-bg-img" alt="">
          </div>
        </div>
      </div>
    </div>
        <div class='nav-btn next-slide'></div>

      </div>
    </section>
    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
          </div>
          <div class="col-lg-6">
            <h3 class="features-sub-title">What's so special?</h3>
            <h3 class="features-title">FEATURES</h3>
            <div class="features-item">
              <h4>TRADITIONAL GAMES</h4>
              <h5>If you miss your childhood, we provide many traditional game here  </h5>
            </div>
            <div class="features-item">
              <h4>Game Suit</h4>
            </div>
            <div class="features-item">
              <h4>TBD</h4>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->
    <!-- ======= Requirement Section ======= -->
    <section id="requirement" class="requirements">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h2>Can My Computer Run This Game?</h2>
          <h1>SYSTEM REQUIREMENTS</h1>
          <table class="table table-bordered" >
            <tbody>
                <tr >
                    <td>
                        <h3>OS:</h3>
                        <h4>Windows 7 64-bit only</h4>
                        <h4>(No OSX support at this time)</h4>
                        <br>
                    </td>
                    <td>
                        <h3>PROCESSOR:</h3>
                        <h4>Intel Core 2 Duo @ 2.4 GHZ or</h4>
                        <h4>AMD Athlon X2 @ 2.8 GHZ</h4>
                        <br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>MEMORY:</h3>
                        <h4>4 GB RAM</h4>
                        <br>
                    </td>
                    <td>
                        <h3>STORAGE:</h3>
                        <h4>8 GB available space</h4>
                        <br><br>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                    <h3>GRAPHICS:</h3>
                    <h4>NVIDIA GeForce GTX 660 2GB or</h4>
                    <h4>AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</h4>
                    <br>
                    </td>
                </tr>
            </tbody>
        </table>

        </div>
      </div>
    </section>
    <!-- ======= TopScore Section ======= -->
    <section id="topscore" class="topscore">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h1>TOP SCORES</h1>
            <h2>This top score from various games provided on this platform</h2>
            <a href="#home" class="btn-topscore scrollto">see more</a>
          </div>
          <div class="col-lg-6">
            <div class="row testimoni" style="margin-left: 100px;">
              <img src="assets/img/testimonials/testimonials-1.jpg" class="avatar"></img>
              <div col class="nama-testimoni">
                <div class="text1">Evan Lathi</div>
                <div class="text2">PC Gamer</div>
              </div>
              <div class="col">
                <svg width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path opacity="0.3" d="M18.3981 2.41449C17.7231 2.70013 17.0072 2.88765 16.2741 2.97084C17.0365 2.53297 17.623 1.84099 17.899 1.01526C17.1731 1.42694 16.3789 1.71699 15.5508 1.87286C14.8519 1.15947 13.8744 0.755389 12.8519 0.757085C10.8105 0.757085 9.15361 2.33909 9.15361 4.29061C9.15361 4.5679 9.18627 4.83816 9.25021 5.09623C6.17639 4.94862 3.45216 3.54236 1.62787 1.404C1.30934 1.92529 1.12764 2.53297 1.12764 3.18076C1.12764 4.40623 1.78024 5.48805 2.77231 6.12188C2.18494 6.10468 1.61046 5.95309 1.09706 5.67983V5.7249C1.09706 7.43659 2.37189 8.86495 4.06278 9.19027C3.5182 9.3312 2.94722 9.35187 2.39305 9.25072C2.86384 10.6549 4.22998 11.6764 5.8475 11.7061C4.5821 12.6524 2.98781 13.2184 1.25483 13.2184C0.960153 13.2181 0.66574 13.2015 0.373047 13.1689C2.00943 14.1713 3.95365 14.7571 6.04185 14.7571C12.8438 14.7571 16.5627 9.37118 16.5627 4.70056C16.5627 4.54779 16.5627 4.39502 16.5513 4.24335C17.2749 3.74295 17.8998 3.12372 18.3969 2.41449H18.3981Z" fill="white"/>
                </svg>
              </div>
              <div row>
                <h5 class="text3">"One of my gaming highlights of the year."</h5>
                <h6 class="text4">October 18, 2018</h6>
              </div>
            </div>

            <div class="row testimoni">
              <img src="assets/img/testimonials/testimonials-2.jpg" class="avatar"></img>
              <div col class="nama-testimoni">
                <div class="text1">jada Griffin</div>
                <div class="text2">Moderator</div>
              </div>
              <div class="col">
                <svg width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path opacity="0.3" d="M18.3981 2.41449C17.7231 2.70013 17.0072 2.88765 16.2741 2.97084C17.0365 2.53297 17.623 1.84099 17.899 1.01526C17.1731 1.42694 16.3789 1.71699 15.5508 1.87286C14.8519 1.15947 13.8744 0.755389 12.8519 0.757085C10.8105 0.757085 9.15361 2.33909 9.15361 4.29061C9.15361 4.5679 9.18627 4.83816 9.25021 5.09623C6.17639 4.94862 3.45216 3.54236 1.62787 1.404C1.30934 1.92529 1.12764 2.53297 1.12764 3.18076C1.12764 4.40623 1.78024 5.48805 2.77231 6.12188C2.18494 6.10468 1.61046 5.95309 1.09706 5.67983V5.7249C1.09706 7.43659 2.37189 8.86495 4.06278 9.19027C3.5182 9.3312 2.94722 9.35187 2.39305 9.25072C2.86384 10.6549 4.22998 11.6764 5.8475 11.7061C4.5821 12.6524 2.98781 13.2184 1.25483 13.2184C0.960153 13.2181 0.66574 13.2015 0.373047 13.1689C2.00943 14.1713 3.95365 14.7571 6.04185 14.7571C12.8438 14.7571 16.5627 9.37118 16.5627 4.70056C16.5627 4.54779 16.5627 4.39502 16.5513 4.24335C17.2749 3.74295 17.8998 3.12372 18.3969 2.41449H18.3981Z" fill="white"/>
                </svg>
              </div>
              <div row>
                <h5 class="text3">"The next big thing in the world of streaming and survival games."</h5>
                <h6 class="text4">December 21, 2018</h6>
              </div>
            </div>

            <div class="row testimoni" style="margin-left: 50px;">
              <img src="assets/img/testimonials/testimonials-3.jpg" class="avatar"></img>
              <div col class="nama-testimoni">
                <div class="text1">Aaroon Williams</div>
                <div class="text2">Uproxx</div>
              </div>
              <div class="col">
                <svg width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path opacity="0.3" d="M18.3981 2.41449C17.7231 2.70013 17.0072 2.88765 16.2741 2.97084C17.0365 2.53297 17.623 1.84099 17.899 1.01526C17.1731 1.42694 16.3789 1.71699 15.5508 1.87286C14.8519 1.15947 13.8744 0.755389 12.8519 0.757085C10.8105 0.757085 9.15361 2.33909 9.15361 4.29061C9.15361 4.5679 9.18627 4.83816 9.25021 5.09623C6.17639 4.94862 3.45216 3.54236 1.62787 1.404C1.30934 1.92529 1.12764 2.53297 1.12764 3.18076C1.12764 4.40623 1.78024 5.48805 2.77231 6.12188C2.18494 6.10468 1.61046 5.95309 1.09706 5.67983V5.7249C1.09706 7.43659 2.37189 8.86495 4.06278 9.19027C3.5182 9.3312 2.94722 9.35187 2.39305 9.25072C2.86384 10.6549 4.22998 11.6764 5.8475 11.7061C4.5821 12.6524 2.98781 13.2184 1.25483 13.2184C0.960153 13.2181 0.66574 13.2015 0.373047 13.1689C2.00943 14.1713 3.95365 14.7571 6.04185 14.7571C12.8438 14.7571 16.5627 9.37118 16.5627 4.70056C16.5627 4.54779 16.5627 4.39502 16.5513 4.24335C17.2749 3.74295 17.8998 3.12372 18.3969 2.41449H18.3981Z" fill="white"/>
                </svg>
              </div>
              <div row>
                <h5 class="text3">"Snoop Dogg Playing The Wildly Entertaining 'SOS' Is Ridiculous.""</h5>
                <h6 class="text4">December 24, 2018</h6>
              </div>
            </div>
            
            
            
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

     <!-- ======= NewsLetter Section ======= -->
     <section id="newsletter" class="newsletter">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
          </div>
          <div class="col-lg-6">
            <h3 class="newsletter-sub-title">Want to stay in touch?</h3>
            <h3 class="newsletter-title">NEWSLETTER SUBSCRIBE</h3>
            <h3 class="newsletter-sub-title2">In order to start receiving our news all you have to do is enter your email address. Everything else will no taken care of by us. We sill send you emails containing information about game. We don't spam.</h3>
            <label style="color: #FFB548;">Your email address:</label>
            <div class="form-row">
              
              <div class="col-md-6 form-group form-costum">        
                <input type="text" name="name" class="form-control" id="name" placeholder="youremail@binar.co.id" style="place-items: red;" />
                <div class="validate"></div>
              </div>
              <div class="col-md-6 form-group">
                <input type="submit" value="Submit" class="bnt-email">
              </div>
            </div>
          </div>
          
        </div>
      </div>
    <!-- ======= Footer  Section ======= -->
     <footer class="site-footer">
      <div class="container">
        <div class="d-flex flex-row-reverse">
          <div class="p-2">
            <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M19.9602 13.6252V9.5538V0.680176H2.93894L0.811279 2.97688V15.0868H6.13043V18.845H8.47085L11.024 16.1307H17.407L19.9602 13.6252ZM7.40694 13.4165H4.00268C3.76864 13.4165 3.57715 13.2286 3.57715 12.9989V2.76817C3.57715 2.5385 3.76864 2.35059 4.00268 2.35059H17.6197C17.8537 2.35059 18.0452 2.5385 18.0452 2.76817V10.7022C18.0452 10.8171 18.0027 10.9215 17.9229 10.9998L15.5825 13.2965C15.5027 13.3748 15.391 13.4165 15.2793 13.4165H11.3697L8.07183 15.6401C8.00268 15.6871 7.91757 15.7132 7.83247 15.7132C7.76332 15.7132 7.69949 15.6976 7.63566 15.6662C7.49204 15.5932 7.40694 15.4522 7.40694 15.2956V13.4165Z" fill="white"/>
              <path d="M13.79 9.76274V5.58691H12.0878V9.76274H13.79ZM9.53465 9.76274V5.58691H7.83252V9.76274H9.53465Z" fill="white"/>
            </svg>
          </div>
          <div class="p-2">
            <svg width="26" height="19" viewBox="0 0 26 19" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M20.61 0.183594H5.98961C3.12627 0.183594 0.799805 2.55085 0.799805 5.4644V12.8973C0.799805 15.8163 3.12627 18.1781 5.98961 18.1781H20.6046C23.4733 18.1781 25.7944 15.8108 25.7944 12.8973V5.4644C25.7998 2.55085 23.4733 0.183594 20.61 0.183594ZM17.0959 9.54779L10.2575 12.8642C10.0731 12.9524 9.86705 12.82 9.86705 12.6103V5.7679C9.86705 5.55821 10.084 5.42578 10.2629 5.51958L17.1013 9.04564C17.3074 9.15048 17.302 9.44846 17.0959 9.54779Z" fill="#FF1313"/>
            </svg>
          </div>
          <div class="p-2">
            <svg width="19" height="15" viewBox="0 0 19 15" fill="none">
              <path d="M18.3981 2.41449C17.7231 2.70013 17.0072 2.88765 16.2741 2.97084C17.0365 2.53297 17.623 1.84099 17.899 1.01526C17.1731 1.42694 16.3789 1.71699 15.5508 1.87286C14.8519 1.15947 13.8744 0.755389 12.8519 0.757085C10.8105 0.757085 9.15361 2.33909 9.15361 4.29061C9.15361 4.5679 9.18627 4.83816 9.25021 5.09623C6.17639 4.94862 3.45216 3.54236 1.62787 1.404C1.30934 1.92529 1.12764 2.53297 1.12764 3.18076C1.12764 4.40623 1.78024 5.48805 2.77231 6.12188C2.18494 6.10468 1.61046 5.95309 1.09706 5.67983V5.7249C1.09706 7.43659 2.37189 8.86495 4.06278 9.19027C3.5182 9.3312 2.94722 9.35187 2.39305 9.25072C2.86384 10.6549 4.22998 11.6764 5.8475 11.7061C4.5821 12.6524 2.98781 13.2184 1.25483 13.2184C0.960153 13.2181 0.66574 13.2015 0.373047 13.1689C2.00943 14.1713 3.95365 14.7571 6.04185 14.7571C12.8438 14.7571 16.5627 9.37118 16.5627 4.70056C16.5627 4.54779 16.5627 4.39502 16.5513 4.24335C17.2749 3.74295 17.8998 3.12372 18.3969 2.41449H18.3981Z" fill="white"/>
            </svg>
          </div> 
          <div class="p-2">
            <svg width="10" height="20" viewBox="0 0 10 20" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M6.65382 19.1726H2.56282V9.67859H0.517822V6.40559H2.56282V4.44159C2.56282 1.77259 3.71782 0.183594 6.99582 0.183594H9.72582V3.45659H8.02082C6.74282 3.45659 6.65882 3.91459 6.65882 4.76859L6.65382 6.40559H9.74582L9.38382 9.67859H6.65382V19.1726Z" fill="white"/>
            </svg>
          </div>
          <div class="p-2">QUOTES</div>
          <div class="p-2">SYSTEM REQUIREMENTS</div>
          <div class="p-2">GAME FEATURES</div>
          <div class="p-2">ABOUT</div>
          <div class="p-2">HOME</div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">&copy; 2018 Your Game, Inc. All Rights Reserved
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <p class="copyright-text">PRIVACY POLICY | TERMS OF SERVICES | CODE OF CONDUCT</p>
          </div>
        </div>
      </div>
</footer>
     </section>
        </main>
        <script src="assets/vendor/jquery/jquery.min.js"></script>
        <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
        <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
        <script src="assets/vendor/counterup/counterup.min.js"></script>
        <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
        <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
        <script src="assets/vendor/venobox/venobox.min.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>